<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.taru.library.dao.AdminDao">


    <!--删除图书根据图书id 逻辑删除-->
    <update id="updateBookStatusBybookId">
         UPDATE books set BOOK_STATUS=0 where BOOK_ID=#{bookId}
    </update>

    <!--修改-->
    <update id="updateBookInfoBybookId" parameterType="org.lanqiao.taru.library.model.Book">
         UPDATE books set BOOK_NAME=#{bookName},BOOK_AUTHOR=#{bookAuthor},BOOK_CATEGORY_ID=#{bookCategoryId},
								      BOOK_PRICE=#{bookPrice},
								      BOOK_STOCK_SIZE=#{bookStockSize},BOOK_COMMENT=#{bookComment}  WHERE book_id=#{bookId}
    </update>

    <!--添加书籍-->
    <insert id="insertIntoBooks" parameterType="org.lanqiao.taru.library.model.Book">
        insert into books (BOOK_ID,BOOK_CODE,BOOK_NAME,
									BOOK_AUTHOR,BOOK_CATEGORY_ID,BOOK_PUBLISH_TIME,
									BOOK_PICTURE,BOOK_PRICE,BOOK_STOCK_SIZE,
									BOOK_COMMENT,BOOK_STATUS)
		                    VALUES(#{bookId},#{bookCode},#{bookName},
		                            #{bookAuthor},#{bookCategoryId},#{bookPublishTime},
		                            #{bookPicture},#{bookPrice},#{bookStockSize},
		                            #{bookComment},#{bookStatus})
    </insert>
</mapper>